:root {
    --color-primary: #333333;
    --color-secondary: #e8e8e8;
    --border-radius-primary: 20px;

}

.stopwatch-container {
    display: flex;
    justify-content: center;

}

.stopwatch {
    max-width: 200px;
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: var(--border-radius-primary);
    box-shadow: 0 1px 10px 10px rgba(0,0,0,.3);

}

.stopwatch-display {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white
}

.btn {
    outline: none;
    border: none;
    border-radius: var(--border-radius-primary);
    padding: 10px 15px;
    font-weight: bold;
}
.btn-stopwatch-start{
    background-color: green;
}
.btn-stopwatch-stop{
    background-color: red;
}
.btn-stopwatch-reset{
    background-color: yellow;
}